<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InsertarLibro</servlet-name>
        <servlet-class>controlador.InsertarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraerTodosLosLibros</servlet-name>
        <servlet-class>controlador.TraerTodosLosLibros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarLibro</servlet-name>
        <servlet-class>controlador.EliminarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingresar</servlet-name>
        <servlet-class>controlador.Ingresar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraerLibrosPorCategoria</servlet-name>
        <servlet-class>controlador.TraerLibrosPorCategoria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarLibro</servlet-name>
        <url-pattern>/InsertarLibro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraerTodosLosLibros</servlet-name>
        <url-pattern>/TraerTodosLosLibros.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarLibro</servlet-name>
        <url-pattern>/EliminarLibro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingresar</servlet-name>
        <url-pattern>/Ingresar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraerLibrosPorCategoria</servlet-name>
        <url-pattern>/TraerLibrosPorCategoria.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
